  .search {
    cursor: default;
  }
  
  #field {
    visibility: hidden;
    color: white;
    background-color: #141414;
    border-radius: 4px;
    width: 0;
    border: 0;
    transition: .25s ease;
    &::placeholder {
      color: rgba(255, 255, 255, 0.493);
      letter-spacing: 2px;
    }
  }
  
  .hide {
    width: 0 !important;
  }
  
  .show {
    width: 174px !important;
  }
  
  .unclickable {
    pointer-events: none;
  }
  
  .bar {
    width: 100%;
    background-color: #14141400;
  }
  
  button[type="submit"] {
    border: none;
    background-color: #ffffff00;
  }
  
  .fa-search {
    color: white;
  }
  
  input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
  }


  .upper-content{
    min-height: calc(100vh - 70px);
  }

.footer{
  height: 50px;
  width: 80%;
  margin-left: 10%;
  text-align: center;
}

.ant-menu .ant-menu-dark .ant-menu-root{
  position: absolute !important;
  left: 0;
  top:  0;
  width: 100% !important;
}