
    .footer {
        position: relative;
        right: 0;
        bottom: 2rem;
        height: 60px;
        width: 100%;
        padding-top: 20px;
        background-color: #214761;
        color: #FFFFFF;
        text-align: center;
        margin-top: 4rem;
      }

      #progbar{
          position: relative;
          width: 60%;
          left: 20%;
      }


      .progress-bar{
          background-color: rgb(25, 168, 121);
      }