.feed-content{
    width: 100%;
    max-width: 1020px;
    height: 100%;
    min-height: 100vh;
    background-color: rgb(221, 213, 224);
    align-self: center;

    display: flex;
    flex-direction: row;
}

.feed{
    width: 100%;
    max-width: 700px;
    background-color: chocolate;
    margin-right: 20px;
}

.right-sidebar{
    width: 100%;
    max-width: 300px;
    background-color: aquamarine;
}

img.profile-photo{
    margin-top: 10px;
    width: 50px;
    height: 50px;
}
