.post-wrapper{
    height: 400px;
    weight: 500px;
    background: white;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;

    border-radius: 2.2%;
}

.post-header{
    display: flex;
    margin-top: 5px;
    justify-self: center;
    border-bottom: 1px solid black;
}

.post-user{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 12px;
    margin-right: 15px;
}

.post-user:hover{
    cursor: pointer;
}
.post-user img:hover{
    animation: grow 0.35s ease-in-out;
    transform-origin: 50% 50%;
}

@keyframes grow{
    50% {transform: scale(0.95) rotate(-3deg);}
}

.post-content{
    display: flex;
}

.post-wrapper:first-child{
    margin-top: 10px;
}

.post-wrapper:last-child{
    margin-bottom: 0;
}