.post-content{
    display: flex;
}

.post-wrapper:first-child{
    margin-top: 10px;
}

.post-wrapper:last-child{
    margin-bottom: 0;
}


.container-post{
    width: 100% !important;
    padding: 0;
}

.col-md{
    width: 100%;
    padding: 0;
}

div.panel.panel-default{
    width: 100%;
    max-width: 700px;
}

.media-body{
    text-align: left;
}

.post-title{
    font-weight: 700;
    font-size: 18px;
}

.post-text{
    text-align: justify;
}