.dropdown-toggle.btn.btn-primary::before {
    content: none;
 }

 .btn-primary{
    background-color: none !important;
    border-color: none !important;
 }

 div.dropleft{
    margin-left: auto;
    position: relative;
    z-index: 99;
 }

.glyphicon.glyphicon-chevron-down:hover{
   color: #232;
   cursor: pointer;
}

.dropdown-menu{
   margin-left: -135px;
   
}